@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    font-family: 'Inter', sans-serif;
    grid-template-areas: 'header header header header'
                         'links links links links'
                         'aside main main main'
                         'footer footer footer footer';
}

.cart-template-areas {
    grid-template-areas: 'header header header header'
                         'links links links links'
                         'main main main main'
                         'footer footer footer footer';
}

button {
    width: 100%;
    background: #000;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    padding: 8px;
    transition: ease-in 0.2s;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-white, button:hover {
    background: #fff;
    border: 1px solid #000;
    color: #000;
}

.btn-white:hover {
    background: #000;
    border: 1px solid #fff;
    color: #fff;
}

.mt-auto {
    margin-top: auto;
}

.mt-6 {
    margin-top: 6px;
}

header {
    grid-area: header;
    background: #000;
    padding: 12px 20px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.links-container {
    display: flex;
    justify-content: center;
    grid-area: links;
    padding: 10px 20px;
    text-align: center;
    gap: 10px;
    background: #e1e1e1;
    margin-bottom: 10px;
    position: relative;
}

.links-container a {
    font-size: 16px;
}

.links-container a:link, .links-container a:visited {
    color: #000;
    text-decoration: none;
}

.links-container a:hover {
    text-decoration: underline;
}

.links-container .active-link {
    text-decoration: underline !important;
}

.links-container > span {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.links-container > span:hover {
    text-decoration: underline;
}


aside {
    grid-area: aside;
    margin-left: 12px;
}

aside fieldset {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

main {
    display: grid;
    grid-area: main;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    margin: 0 12px 10px;
    gap: 10px;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

dialog h2, dialog h3, dialog p {
    margin-bottom: 10px;
}

.product-container {
    padding: 14px;
    border: solid 1px #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.product-container > p {
    font-size: 18px;
    margin-top: 2px;
    font-weight: bold;
}

.product-container > p, .product-container > span {
    text-align: center;
    margin-bottom: 8px;
}

.product-container > img {
    width: 100%;
    max-height: 250px;
    object-fit: contain;
}

footer {
    grid-area: footer;
    background: #000;
    color: #fff;
    padding: 20px;
}

.empty-cart-message {
    width: 100%;
    margin: auto;
    text-align: center;
    grid-column: 2;
    grid-row: 1;
}