@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    font-family: 'Inter', sans-serif;
    grid-template-areas: 'header header header header'
                         'aside main main main'
                         'links links links links'
                         'footer footer footer footer';
    gap: 10px;
}

header {
    grid-area: header;
    background: #000;
    padding: 12px 20px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

aside {
    grid-area: aside;
    margin-left: 12px;
}

aside fieldset {
    padding: 10px;
}

main {
    display: grid;
    grid-area: main;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    margin-right: 12px;
}

.product-container {
    padding: 14px;
}

.product-container > p {
    text-align: center;
}

.product-container > img {
    width: 100%;
    max-height: 250px;
    object-fit: contain;
}

.links-container {
    grid-area: links;
}

footer {
    grid-area: footer;
    background: #000;
    color: #fff;
    padding: 20px;
}